<div class='row'>
  <div class='col-md-12'>
    <h1 class='page-title'>Edit List Schedule</h1>
  </div>
</div>
<div class='form-group'>
  <%= list_edit_navbar_group(@list, active: :issue) %>
</div>

<%= form_for @list, url: update_issue_list_path(@list), method: :patch do |form| %>
  <div class='card'>
    <div class='card-header'>
      <h6>Current List Issues</h6>
    </div>
    <div class='card-body'>
    </div>
    <div class='card-footer d-flex justify-content-between'>
      <button class='btn btn-primary' type='submit' data-disable-with="<%= t('basic.forms.creating') %>">
        <%= t('basic.forms.submit_save') %>
      </button>
    </div>
  </div>
<% end %>