<div class="row">
  <div class="col-md-8">
    <h1 class="page-title">Create New Access Profile</h1>
    <div class="card">
      <%= form_for @access_profile, url: :cms_access_profiles do |form| %>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">Nombre</label>
              <%= form.text_field :name, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" type="submit" data-disable-with="<%= t('basic.forms.creating') %>"><%= t('basic.forms.submit_create') %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>
