<div class="jumbotron">
  <h1 class="text-center">Frases 480</h1>
  <h2>
  	<p>Bienvenido al sitio web de frases de hasta 480 caracteres. Aquí encontrarás todo tipo de frases, citas, refranes y proverbios para que envíes o utilices cuando necesites.</p>
  	<p>Los usuarios registrados podrán enviar sus frases y las mismas tendrán que ser aprobadas primeramente por los moderadores de Frases480 para que aparezcan en sus respectivas secciones.</p>
  	<p>Los usuarios tanto registrados como no registrados podrán comentar con Facebook y/o compartir todas las frases a las redes sociales más utilizadas.</p>
  	<p>¿Te gustaría ser colaborador de Frases 480?<b> <a href="https://cms.frases480.com" rel="external">Ir al CMS</a><br/></p>
  	<p><b>Sugerencias / Reclamos / Consultas a: <a href="mailto:info@frases480.com">info@frases480.com</a></b></p>
  </h2>
</div>
