<div class="card">
  <div class="card-header">Frase de <%= link_to phrase.category.name, web_show_category_path(phrase.category.slug) %></div>
  <div class="card-body">  
    <h4><%= phrase.phrase %></h4>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Compartir / Comentar', web_show_phrase_path(phrase.category.slug, phrase.slug), class: "badge badge-primary" %>
  </div>    
</div>
