@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

html, body {
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.badge {
  // font-size: 13px;
}

.breadcrumb {
  .breadcrumb-item {
    &.featured {
      a {
        font-weight: 700;
      }
    }
  }
}

.login-screen {
  h1 {
    img {
      max-width: 150px;
    }
  }
}

.app-header {
  &.navbar {
    .navbar-brand {
      // @include retina('cms/ss_logo.png', 3, 50%, top left no-repeat);
    }
    .dropdown-menu {
      padding-top: 0;
    }
  }
}

.permissions-ui {
  .namespace {
    font-size: 18px;
  }
  .list-group {
    margin-bottom: 1rem;
    .list-group-item {
      label {
        margin-bottom: 0;
      }
    }
  }
}

.page-title-row {
  h1 {
    margin-bottom: 1rem;
  }
}

.sub-menu {
  .nav {
    margin-bottom: 1.5rem;
    .nav-item {
      margin-right: 5px;
      &.highlighted {
        .dropdown-toggle {
          color: #fff;
          background-color: #007bff;
        }
      }
    }
    .dropdown-menu {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

// Maps
/* Google Maps */
.google-map {
  height: 300px;
}
.map-container{
  height: 400px;
  width: 100%;
}
.map-container-new{
  height: 260px;
  width: 100%;
}
#map{
 height: 100%;
 width: 100%;
}
#workmap{
 height: 100%;
 width: 100%;
}
#pac-input{
  position: absolute;
  right: 10px !important;
  top: 10px !important;
  width: 200px;
}
#pac-input-2{
  position: absolute;
  right: 10px !important;
  top: 10px !important;
  width: 200px;
}

.no-break-word {
  white-space: nowrap;
}
