@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

html, body {
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.g-recaptcha > div {
  margin: 0 auto;
}

.breadcrumb {
  .breadcrumb-item {
    &.featured {
      a {
        font-weight: 700;
      }
    }
  }
}

.login-screen {
  h1 {
    img {
      max-width: 150px;
    }
  }
}

.app-header {
  &.navbar {
    .navbar-brand {
      @include retina('cms/logo.png', 1, 70%, top left no-repeat);
    }
    .dropdown-menu {
      padding-top: 0;
    }
  }
}

.permissions-ui {
  .namespace {
    font-size: 18px;
  }
  .list-group {
    margin-bottom: 1rem;
    .list-group-item {
      label {
        margin-bottom: 0;
      }
    }
  }
}

.page-title-row {
  h1 {
    margin-bottom: 1rem;
  }
}

.sub-menu {
  .nav {
    margin-bottom: 1.5rem;
    .nav-item {
      margin-right: 5px;
      &.highlighted {
        .dropdown-toggle {
          color: #fff;
          background-color: #007bff;
        }
      }
    }
    .dropdown-menu {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

