/* COLORS */
$light1: #f8f4f3;
$light2: #ebe8e7;
$light3: #ece0dd;
$light4: #ffeee5;
$dark_grey: #3d3d3d;
$green: #27c162;
$green_hover: #1f9a4e;
$orange: #ff5c03;
$black: #000000;
$grey:  #707070;
$red: #ff3030;
$teal: #73cede;
$yellow: #f8ac59;
$error_red: #b00;

/* COLOR STYLES */
.light1 { color: $light1 ; }
.light2 { color: $light2 ; }
.light3 { color: $light3 ; }
.light4 { color: $light4 ; }
.dark_grey { color: $dark_grey ; }
.green { color: $green ; }
.green_hover { color: $green_hover ; }
.orange { color: $orange ; }
.black { color: $black ; }
.grey { color: $grey ; }
