<h3>Frases de la categoría: <%= @category.name %></h3>  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Frases480-Adaptable2 -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-5138128404282138"
data-ad-slot="8264966715"
data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script><br />
<%= render 'web/partials/phrases', phrases: @phrases %>
