<% if !@category.nil? %>
<h3>Frases de la categoría: <%= @category.name %></h3>  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Frases480-Adaptable2 -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-5138128404282138"
data-ad-slot="8264966715"
data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script><br>
<% if !@phrases.empty? %>
<% @phrases.each do |phrase| %>
  <%= render 'web/partials/phrase', phrase: phrase %> 
<% end %>
<div class="d-flex justify-content-center">
  <%= will_paginate_web @phrases %>
</div>
<% else %>   
<div class="alert alert-info">   
  <h4>No hay frases añadidas...</h4>     
</div>
<% end %>     
<% else %>   
<div class="alert alert-danger">   
  <h4>No existe la frase...</h4>     
</div>
<% end %>
